<head>
    <meta charset="utf-8">
    
    <!--Bootstrap Stuff-->
    
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
</head>

<body>
    
    <div class = "container">
        
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        
            <div class="jumbotron">
                <form>
                    <div class = "form-group">
                        <input type="email" class = "form-control" placeholder = "Enter Email" id="email">
                    </div>
                    
                    <div class = "form-group">
                        <input type="password" class="form-control" placeholder = "Password" id="password" >
                    </div>
                    
                    <button type = "submit" class = "btn btn-primary form-control" (click)="login()">Login</button>
                     <div class = "col-lg-4">
                        <span class = "error text-danger" id = "passError" style="display:none">Invalid password</span>
                    </div>
                    <div class = "col-lg-4">
                        <span class = "error text-danger" id = "emailError" style="display:none">Invalid email</span>
                    </div>
                    <div class = "col-lg-4">
                        <span class = "error text-danger" id = "passwordNull" style="display:none">Please enter a password</span>
                    </div>
                    <div class = "col-lg-4">
                        <span class = "error text-danger" id = "emailNull" style="display:none">Please enter an email</span>
                    </div>
                    <button type = "submit" class = "btn btn-primary form-control" (click)="register()">Register</button>
                     <div class = "col-lg-4">
                        <span class = "error text-danger" id = "regiError" style="display:none">Email already in use</span>
                    </div>
                    <div id="resend" style = "display:none">
                        <button type = "submit" class = "btn btn-link form-control" (click)="resend()">Resend</button>
                        <p>click "Resend" then "Register" to receive email comfirmation again</p>
                    </div>
        
                </form>
            </div>
        
        <div class="col-lg-4"></div>

    </div>
    
    <div class = "card-columns" id="privateColls">
        
    <p>Highest Rated</p>
        <div *ngFor="let card of cardArray; let i=index" style=" list-style-type: none">
          <div *ngIf = "i<10">
          
          <div class="card">
           <img class="img-fluid img-thumbnail" src={{card.images[0]}} alt="No Images In Collection">
          <div class="card-block">
            <h4 class="card-title">{{ card.title }}</h4>
            <p class="card-text">{{ card.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Created by: {{card.user}}</small>
            <small class="text-muted">Rating: {{card.rating}}</small>
          </div>
        </div>
        
        </div>
        
        </div>
  
    <p>Lowest Rated</p>
  </div>

</body>