<div *ngIf = 'isAdmin'>
    <button type="button" class="btn" (click) = 'save()'>Save</button>
</div>
<p>
  NOTICE AND TAKEDOWN POLICY
It is the policy of N(ice)ASA to expeditiously respond to clear notices of alleged copyright infringement.
This page describes the information that should be present in these notices. C Spire designed this policy to
make submitting notices of alleged infringement to C Spire as straightforward as possible while reducing the
number of received notices that are fraudulent or difficult to understand or verify. The form of notice specified
below is consistent with the form suggested by the United States Digital Millennium Copyright Act ("DMCA").
It is expected that all users of any part of the C Spire site, will comply with applicable copyright laws. If,
however, C Spire receives proper notification of claimed copyright infringement, the response to such notices
will include removing or disabling access to content claimed to be the subject of infringing activity and/or
terminating the user’s account, regardless of whether C Spire may be liable for such infringement under United
States laws, state or local laws, or the laws of another jurisdiction.
If C Spire removes or disables access in response to such a notice, C Spire will make a good-faith attempt to
contact the owner of the affected content so that a counter notification pursuant to Sections 512(g)(2) and (3) of
the DMCA may be made. C Spire may also document notices of alleged infringement on which it acts.
Upon receipt of proper notification of claimed infringement, C Spire will follow the procedures outlined herein
and in the DMCA.
C Spire has designated the following agent to receive notifications of claimed infringement at the address set
forth below:

E-mail: yhoude88@gmail.com

INFRINGEMENT NOTIFICATION:
To file a notice of infringement with C Spire, provide a written communication by certified U.S. Mail, return
receipt requested, that sets forth the information specified in the list below. Email notices will not be acceptable
without prior written agreement. Please note that you will be liable for damages (including costs and attorney's
fees) if you materially misrepresent that content is infringing your copyright(s). If you are not sure whether the
content at issue infringes on your copyright, please consult an attorney.
To expedite the processing of your request, please use the following format (including section numbers):
1. Identify with sufficient detail the copyrighted work that you believe has been infringed (for example,
"The copyrighted work at issue is the "Name of the work" by "name of the artist" which is available
at (http://______________)");
2. Identify the content that you claim is infringing the copyrighted work listed above. Include identification
of the content that is claimed to be infringing or to be the subject of infringing activity and that is to be
removed or access to which is to be disabled, and information reasonably sufficient to permit C Spire to
locate the content;
3. Provide information reasonably sufficient to permit C Spire to contact the complaining party, such as
an address, telephone number, and, if available, an email address at which the complaining party may be
contacted;
4. Make the following statement: "I have a good faith belief that use of the content in the manner
complained of is not authorized by the copyright owner, its agent, or the law";
5. Make the following statement: "I swear, under penalty of perjury, that the information in the notification
is accurate, and that I am the copyright owner or am authorized to act on behalf of the owner of an
exclusive right that is allegedly infringed";
02115796 


email: yhoude88@gmail.com
The provider of the allegedly infringing content may make a counter notification pursuant to sections 512(g)(2)
and (3) of the DMCA.
To file a counter notification with C Spire, provide a written communication by certified U.S. Mail, return receipt
requested, that sets forth the information specified in the list below. Email notices will not be acceptable without
prior written agreement. Please note that you will be liable for damages (including costs and attorneys' fees) if
you materially misrepresent that content is not infringing the copyrights of others. If you are not sure whether
certain content infringes the copyrights of others, please consult an attorney.
To expedite the processing of your request, please use the following format (including section numbers):
1. Identify the content that has been removed or to which access has been disabled and the location at
which the content appeared before it was removed or access to it was disabled;
2. Provide your name, address, and telephone number;
3. Make the following statement: "I consent to the jurisdiction of Federal District Court for the [insert the
federal judicial district in which your address is located]";
4. Make the following statement: "I will accept service of process from [insert the name of the person who
submitted the infringement notification] or his/her agent";
5. Make the following statement: "I swear, under penalty of perjury, that I have a good faith belief that the
affected material was removed or disabled as a result of a mistake or misidentification of the material to
be removed or disabled";
6. Sign the document; and
7. Send the written communication to:
N(ice)ASA
E-mail: yhoude88@gmail.com
Upon receipt of such counter notification, C Spire will promptly provide the person who provided the original
infringement notification with a copy of the counter notification, and inform that person that C Spire will replace
the content or cease disabling access to it in 10 business days. C Spire will replace the removed material and
cease disabling access to it not less than 10, nor more than 14, business days following receipt of the counter
notice, unless C Spire’s Designated Agent (identified above) first receives notice from the person who
submitted the original infringement notification that such person has filed an action seeking a court order to
restrain the subscriber from engaging in infringing activity relating to the material on our system or network.
REPEAT INFRINGERS
In accordance with Section 512(i)(1)(a) of the DMCA, C Spire w
</p>
