<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="email"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><button type = "submit" class = "btn btn-primary form-control" (click)="allColls()">All Collections</button></li>
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="myColls()">My Collections</button></li>
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="createColl()">Create Collection</button></li>
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="searchDB()">Search Nasa Database</button></li>
    </ul>
  </div>
</nav>

<h1>public</h1>

<body>
  
  <!----------------------------------------Collection View--------------------------------------->
  
  <div class = "card-columns" id="privateColls">
            
    <p>Highest Rated</p>
    
      <div *ngIf="browsing">
        
        <div *ngFor="let card of cardArray" style=" list-style-type: none">
          
            <div class="card">
              <img class="img=fluid img-thumbnail" src={{card.images[0]}} alt="No Images In Collection">
            <div class="card-block">
              <h4 class="card-title">{{ card.title }}</h4>
              <p class="card-text">{{ card.description }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Created by: {{card.user}}</small>
              <small class="text-muted">Rating: {{card.rating}}</small>
              <button type = "submit" class = "btn btn-primary form-control" (click)="rate(card)">Rate Collection</button>
              <button type = "submit" class = "btn btn-primary form-control" (click)="view(card)">View Collection</button>
            </div>
            
            <div *ngIf="card.showRate">
               <!-- Bind to variable in component -->
              <label>Rate Collection</label>
                <select class="form-control" id="sel1" [(ngModel)]="rating">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            <!-- Save button -->
             <button type="button" class="btn btn-primary" (click)="saveRating(card)"> Save </button>
            </div>
          </div>
        
          </div>
        </div>
        
    <p>Lowest Rated</p>
  </div>
</body>