<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="email"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="allColls()">All Collections</button></li>
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="myColls()">My Collections</button></li>
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="createColl()">Create Collection</button></li>
      <li class="active"><button type = "submit" class = "btn btn-primary form-control" (click)="searchDB()">Search Nasa Database</button></li>
    </ul>
  </div>
</nav>

<h1>search</h1>

<body>
  
  <div class="form-group">
    <label>Search Nasa Database:</label>
    
    <!-- Bind to variable in component -->
    <input type="text" class="form-control" [(ngModel)]="searchText">
    
    <!-- This is a bootstrap button. See more here: https://www.w3schools.com/bootstrap/bootstrap_buttons.asp -->
    <button type="button" class="btn btn-primary" (click)="searchDatabase()"> Search Database </button>
  </div>

      <!--<label>Sanity test</label>-->
      
      <!--<div class="container">-->
      <!--  <div *ngFor = "let obj of nasaCollection" class="row imagetiles">-->
      <!--    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">-->
      <!--      <img src={{obj[0]}} class="img-responsive">-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
      
      <div class="container">

      <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>
      <button type="button" class="btn btn-primary" (click)="decrIndex()"> prev </button>
      <button type="button" class="btn btn-primary" (click)="incrIndex()"> next </button>
    

      <div class="row text-center text-lg-left">
          
        <div *ngFor = "let obj of nasaCollection[nasaIndex]">
  
          <div class="col-lg-3 col-md-4 col-xs-6">
            <a href={{obj.link}} target = "_blank" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src={{obj.link}} alt="">
            </a>
            <div>
               <button type="button" class="btn btn-primary" (click)="saveImagePrompt(obj)"> Save Image </button>
            </div>
             <div *ngIf="obj.save">
               <div *ngFor = "let coll of userColls">
                 <button type="button" class="btn btn-primary" (click)="saveImage(obj.link,coll)"> Save to: {{coll.title}} </button>
               </div>
            </div>
          </div>
          
        </div>
      </div>

    </div>
    <!-- /.container -->

  
  </body>