<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="email"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="allColls()">All Collections</button></li>
      <li class="active"><button type = "submit" class = "btn btn-primary form-control" (click)="myColls()">My Collections</button></li>
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="createColl()">Create Collection</button></li>
      <li><button type = "submit" class = "btn btn-primary form-control" (click)="searchDB()">Search Nasa Database</button></li>
    </ul>
  </div>
</nav>


<h1>private</h1>

<body>
    
    <div class = "card-columns" id="privateColls">
      
      
      
      <ul>
        <li *ngFor="let card of cardArray" style=" list-style-type: none">
          
          <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{ card.title }}</h4>
            <p class="card-text">{{ card.description }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Private: {{card.private}}</small>
            <button type = "submit" id = "edit" class = "btn btn-primary form-control" (click)="edit(card)">Edit</button>
            <button type = "submit" id = "delete" class = "btn btn-primary form-control" (click)="delete(card)">Delete</button> 
          </div>
          <div *ngIf="card.showEdit">
             <!-- Bind to variable in component -->
            <label> Edit title</label>
            <input type="text" class="form-control" [(ngModel)]="titleEdit">
            <label> Edit desctiption</label>
            <input type="text" class="form-control" [(ngModel)]="descriptionEdit">
            <label class="radio-inline">
            <input type="radio" name="visradio" value ="private" [(ngModel)] ="visE" >Change Visibility</label>
          
          <!-- Save button -->
           <button type="button" class="btn btn-primary" (click)="saveEdits(card)"> Save </button>
          
        </div>
        </div>
        
        </li>
      </ul>
      
       
        
        
        
  </div>
  
</body>